@use 'sass:color';

@use '@material/theme/color-palette';

@use '@material/theme/index' as theme with (
  $primary: #ff3e00,
  $secondary: color.scale(#676778, $whiteness: -10%),
  $surface: color.adjust(color-palette.$grey-900, $blue: +4),
  $background: #1c1c1c,
  $error: color-palette.$red-700
);

@use '@material/checkbox/mixins' as checkbox;

// Typography
@use '@material/typography/mdc-typography';
@use '@material/typography/mixins' as typography;
@use '@material/linear-progress/mixins' as linear-progress;
 
html,
body {
  background-color: #1c1c1c;
  color: theme.$on-surface;
}

a {
  color: #40b3ff;
}
a:visited {
  color: color.scale(#40b3ff, $lightness: -35%);
}

h1 {
  @include typography.typography('headline1');
}

h2 {
  @include typography.typography('headline2');
}

h3 {
  @include typography.typography('headline3');
}

h4 {
  @include typography.typography('headline4');
}

h5 {
  @include typography.typography('headline5');
}

h6 {
  @include typography.typography('headline6');
}

caption {
  @include typography.typography('caption');
}

code,
pre {
  font-family: 'Roboto Mono', monospace;
}

small {
  font-size: 0.9em;
}

big {
  font-size: 1.1em;
}

b,
strong {
  font-weight: bold;
}

.my-colored-linear-progress {
  @include linear-progress.bar-color(theme.$primary);
}

.my-colored-checkbox {
  --mdc-checkbox-checked-color: theme.$primary;

  @include checkbox.container-colors(
    $marked-stroke-color: theme.$primary,
    $marked-fill-color: theme.$primary
  );
  @include checkbox.disabled-container-colors(
    $marked-stroke-color: color-palette.$green-900,
    $marked-fill-color: color-palette.$green-900
  );
  @include checkbox.ink-color(color-palette.$green-100);
  @include checkbox.disabled-ink-color(color-palette.$green-400);
  @include checkbox.focus-indicator-color(color-palette.$green-100);
}

.my-fully-colored-checkbox {
  --mdc-checkbox-checked-color: #{theme.$primary};

  @include checkbox.container-colors(
    $unmarked-stroke-color: theme.$primary,
    $unmarked-fill-color: transparent,
    $marked-stroke-color: theme.$primary,
    $marked-fill-color: theme.$primary
  );
  @include checkbox.disabled-container-colors(
    $unmarked-stroke-color: color-palette.$green-900,
    $unmarked-fill-color: transparent,
    $marked-stroke-color: color-palette.$green-900,
    $marked-fill-color: color-palette.$green-900
  );
  @include checkbox.ink-color(color-palette.$green-100);
  @include checkbox.disabled-ink-color(color-palette.$green-400);
  @include checkbox.focus-indicator-color(color-palette.$green-100);
}
